body {
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(255, 197, 120);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 450;
    height: fit-content;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    color: rgb(41, 23, 0);
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
.content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.intro{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 750px;
}
.left-intro{
    width: 75%;
    height: 100%;
    padding-right: 5px;
    padding-left: 15px;
}
.right-intro{
    width: 25%;
    height: 100%;
    padding-left: 5px;
}
.my-img{
    width: 100%;
    height: 100%;
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}
