body {
    background-color: rgb(50, 50, 50);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
body::-webkit-scrollbar{
    display: none;
}
header {
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid rgba(0, 0, 0, 0.158);
    background-color: rgb(27, 27, 27);
    align-items: center;
    z-index: 20;
}

.left-part-header {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.logo-name {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.right-part-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.instagram-navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    gap: 25px;
}

.instagram-navbar a img {
    width: 35px;
    height: 35px;
    filter: invert(100%) brightness(200%);
}

.instagram-navbar-menu {
    display: none;
}

.instagram-logo {
    width: 50px;
    height: 50px;
}

.menu-clicked {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 90px);
    position: fixed;
    top: 85px;
    display: none;
    z-index: 10;
}

.left-part-menu-clicked {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.062);
    z-index: 11;
}

.right-part-menu-clicked {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.938);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 25px;
    z-index: 12;
}

.instagram-menu-clicked-ordinary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 0 10px 25px;
    border-radius: 10px;
}

.instagram-menu-clicked-ordinary:hover {
    background-color: rgba(0, 0, 0, 0.281);
}

.right-part-menu-clicked a img {
    width: 35px;
    height: 35px;
    filter: invert(100%) brightness(200%);
}

.content-container {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding-top: 50px;
}

.posting {
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.205);
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 1200px;
    max-height: 700px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.posting-header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-side-posting-header {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
    font-size: 20px;
}

.right-side-posting-header {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-button {
    width: 80%;
    height: 35px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid white;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

.follow-button:hover {
    background-color: rgba(255, 255, 255, 0.199);
}

.profile-posting {
    width: 40px;
    height: 40px;
    filter: invert(100%) brightness(200%);
}

.content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.content-image {
    width: 65%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    max-width: 860px;
}

.interactions {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.interactions-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.interactions-container img {
    width: 35px;
    height: 35px;
    filter: invert(100%) brightness(200%);
}

.interactions-container img:first-child:hover {
    filter: invert(60%) sepia(100%) hue-rotate(190deg) saturate(400%);
}

.interactions-container img:nth-child(2):hover {
    filter: brightness(300%) invert(45%) sepia(60%) hue-rotate(80deg) saturate(200%);
}

.interactions-container img:nth-child(3):hover {
    filter: invert(50%) sepia(100%) saturate(20%) hue-rotate(0deg) brightness(110%);
}

.descriptions {
    width: 100%;
    height: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptions p {
    width: 80%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    padding-top: 0;
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media(max-width: 500px) {
    .instagram-navbar-menu {
        display: block;
    }

    .instagram-navbar-ordinary {
        display: none;
    }
}

@media(max-width: 420px) {
    .left-side-posting-header {
        width: 50%;
    }

    .right-side-posting-header {
        width: 50%;
    }
}
@media(max-width: 1200px){
    .posting{
        max-height: 600px;
    }
}
@media(max-width: 800px){
    .posting{
        max-height: 500px;
    }
}
@media(max-width: 550px){
    .posting{
        max-height: 400px;
    }
}
@media(max-width: 350px){
    .posting{
        max-height: 335px;
    }
}