body {
    background-color: rgb(50, 50, 50);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

header {
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid rgba(0, 0, 0, 0.26);
    background-color: rgb(27, 27, 27);
    align-items: center;
}

.left-part-header {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.logo-name {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.right-part-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.instagram-navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    gap: 25px;
}

.instagram-navbar a img {
    width: 35px;
    height: 35px;
    filter: invert(100%) brightness(200%);
}

.instagram-navbar-menu {
    display: none;
}

.instagram-logo {
    width: 50px;
    height: 50px;
}

.menu-clicked {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 90px);
    position: fixed;
    top: 90px;
    display: none;
}

.left-part-menu-clicked {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.062);
}

.right-part-menu-clicked {
    width: 50%;
    height: 100%;
    background-color: rgba(145, 145, 145, 0.267);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

@media(max-width: 500px) {
    .instagram-navbar-menu {
        display: block;
    }
    .instagram-navbar-ordinary {
        display: none;
    }
}