html::-webkit-scrollbar{
    display: none;
}
html{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    background: red;
    animation: mymove 10s infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes mymove {
  0%   { background-color: rgb(0, 140, 255); }
  50%  { background-color: rgb(0, 63, 114); }
  100% { background-color: rgb(0, 140, 255); }
}

.loggin{
    background-color: rgba(200, 200, 200, 0.1);
    width: fit-content;
    height: fit-content;
    padding: 25px;
    border: none;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.loggin-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.loggin-form div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 10px;
    font-size: large;
}
.loggin-form div input{
    width: 250px;
    height: 25px;
    border: 1px solid rgb(0, 140, 255);
    border-radius: 5px;
}
.loggin-form div button{
    width: 255px;
    height: fit-content;
    border: 1px solid rgb(0, 140, 255);
    border-radius: 5px;
    font-size: larger;
    align-content: center;
    padding: 5px;
}