html::-webkit-scrollbar{
    display: none;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 241, 112);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.calculator-container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.calculator{
    width: fit-content;
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
button{
    font-size: 40px;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(141, 149, 156);
}
.screen{
    width: 255px;
    height: 60px;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    align-content: center;
    text-align: right;
    font-size: 40px;
    padding-right: 5px;
}
.header{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
a{
    text-decoration: none;
    font-size: 36px;
    color: black;
    padding: 10px 0 0 10px;
}
@media only screen and (max-width: 500px) {
    .calculator{
        transform: scale(0.8);
    }
}