html::-webkit-scrollbar{
    display: none;
}
body{
    width: 100%;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}
.header-website-name-drin-fun{
    margin: 0;
    margin-top: 25px;
    font-size: 60px;
    font-weight: 900;
}
.under-title-of-header-website-name-drin-fun{
    margin: 0;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 100;
}

.games-and-stuff-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    gap: 20px 0;
    padding-bottom: 35px;
}

.game {
    flex: 1 1 calc(33.33% - 60px);
    max-width: 500px;
    min-width: 240px;
    margin: 0 10px; 
    background-color: #9b9b9b;
    border-radius: 12px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 40px;
}

.game img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.contact-support-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.inner-container-of-contact-support-container{
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.inner-container-of-contact-support-container a{
    width: fit-content;
    height: fit-content;
    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-decoration: none;
    color: gray;
    font-size: larger;
    background-color: rgb(17, 17, 17);
    border: none;
    border-radius: 15px;
}