body{
    width: 100%;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 75px;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}
.header-website-name-drin-fun{
    margin: 0;
    margin-top: 25px;
    font-size: 60px;
    font-weight: 900;
}
.under-title-of-header-website-name-drin-fun{
    margin: 0;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 100;
}
.games-and-stuff-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.game {
    display: flex;
    background-color: gray;
    flex: 1 1 300px;
    min-width: 200px;
    min-height: 150px;
    max-width: 350px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
}

.game .container{
    width: 99%;
    height: 97%;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game img{
    flex: 1 1 300px;
    min-width: 200px;
    min-height: 150px;
    max-width: 350px;
}