body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 250, 253);
    font-family: Arial, Helvetica, sans-serif;
    gap: 0;
}

.left-side {
    width: 260px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.compose-button {
    width: fit-content;
    height: 57px;
    padding: 7px 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #c2e7ff;
    border: none;
    border-radius: 15px;
    margin-left: 8px;
    margin-bottom: 16px;
}

.compose-button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.compose-button img {
    width: 24px;
    height: 24px;
    padding: 0;
}

.compose-button p {
    font-style: normal;
    font-size: 14px;
    color: #001d35;
    margin-left: 15px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.three-lines {
    width: 24px;
    height: 24px;
}

.logo {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0 15px 45px;
}

.logo img {
    margin-left: 7px;
}

.choices-options-for-location {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    user-select: none;
}

.option {
    width: 85%;
    height: 32px;
    display: flex;
    flex-direction: row;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 300;
    color: #4e4e4e;
}

a.active-rn {
    color: #001d35;
    font-weight: bold;
}

.image {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    image-rendering: auto;
}

a.active-rn {
    background-color: rgb(202, 222, 255);
}

.option p {
    width: 80%;
}

.option img {
    width: 20px;
    height: auto;
    padding: 0;
    margin: 0 10px 0 0;
}

.option:hover {
    background-color: rgb(233, 233, 233);
}

a.active-rn:hover {
    background-color: rgb(202, 222, 255);
}

.menu-icon {
    width: fit-content;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-icon:hover {
    background-color: #ececec;
}

.gmail-logo {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown-container{
    display: none;
}

.right-side {
    width: calc(100vw - 260px);
}