body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 250, 253);
    font-family: Arial, Helvetica, sans-serif;
}

.left-side {
    width: 260px;
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.compose-button {
    width: fit-content;
    height: fit-content;
    padding: 7px 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #c2e7ff;
    border: none;
    border-radius: 15px;
    margin-left: 8px;
    margin-bottom: 16px;
}

.compose-button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.compose-button img {
    width: 24px;
    height: 24px;
    padding: 0;
}

.compose-button p {
    font-style: normal;
    font-size: 15px;
    color: #001d35;
    margin-left: 20px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.three-lines {
    width: 25px;
    height: 25px;
    image-rendering: pixelated;
}

.logo {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 12px 0 18px 45px;
}

.logo img {
    margin-left: 15px;
}

.choices-options-for-location {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.option{
    width: 85%;
    height: 30px;
    display: flex;
    flex-direction: row;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 300;
    color: #4e4e4e;
}
a.active-rn{
    color: #001d35;
    font-weight: bold;
}

.image {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    image-rendering: auto;
}

a.active-rn {
    background-color: rgb(202, 222, 255);
}

.option p {
    width: 80%;
}

.option img {
    width: 20px;
    height: auto;
    padding: 0;
    margin: 0 10px 0 0;
}

.option:hover {
    background-color: rgb(233, 233, 233);
}

a.active-rn:hover {
    background-color: rgb(202, 222, 255);
}