body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 250, 253);
}
.left-side{
    width: 260px;
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.compose-button{
    width: fit-content;
    height: fit-content;
    padding: 7px 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #c2e7ff;
    border: none;
    border-radius: 15px;
    margin-left: 8px;
    margin-bottom: 25px;
}
.compose-button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.compose-button img{
    width: 24px;
    height: 24px;
    padding: 0;
}
.compose-button p{
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 0;
    font-size: 15px;
    color: #001320;
    margin-left: 20px;
}
.three-lines{
    width: 25px;
    height: 25px;
    opacity: 0.75;
    image-rendering: pixelated;
}
.logo{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 40px;
}
.logo img{
    margin-left: 20px;
}
.choices-options-for-location{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.option{
    width: 85%;
    height: 35px;
    display: flex;
    flex-direction: row;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 20px;
}
.image{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    image-rendering: pixelated;
}
.option:first-child{
    background-color: rgb(191, 214, 255);
}
.option p{
    width: 80%;
}
.option img{
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 20px 0 0;
}
.option:hover{
    background-color: rgb(233, 233, 233);
}
.option:first-child:hover{
    background-color: rgb(191, 214, 255);
}